.container-top{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.our-team{
    background-color: #ffff;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 0px;
    padding: 30px 70px;
    width: 360px;

    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px gainsboro;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
    border: 0;
}
.our-team .pic::before{
   content: "";
   width: 100%;
   height: 0;
   border-radius: 50%;
   background-color: #e30000;
   border: 0;
   position: absolute;
   bottom: 135%;
   right: 0;
   left: 0;
   opacity: 0.2;
   transform: scale(3);
   transition:all 0.3s linear 0s ;
}

.our-team:hover .pic::before{
    height: 100%;
}
.our-team .pic::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #1785eb; */
    background-color: #e30000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}
.our-team .team-content{
    margin-bottom: 30px ;
    margin-top: 20px;
  

}
.our-team .title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.our-team .post{
    margin-left: -15px;
}
.our-team .social{
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #1785eb; */
    background-color: #e30000;
    position:absolute ;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    
}
.our-team:hover .social{
    bottom: 0;
}
.our-team .social li{
    display: inline-block;
}
.our-team .social li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #1785eb;
    background:#f7f5ec;
}



/* dddd */




.team .mypic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}
.team .mypic::before{
   content: "";
   width: 100%;
   height: 0;
   border-radius: 50%;
   background-color: #1785eb;
   position: absolute;
   bottom: 135%;
   right: 0;
   left: 0;
   opacity: 0.2;
   transform: scale(3);
   transition:all 0.3s linear 0s ;
}

.team:hover .mypic::before{
    height: 100%;
}
.team .mypic::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1785eb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.team:hover .mypic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

.team .social{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1785eb;
    position:absolute ;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    
}
.team:hover .social{
    bottom: 0;
}
.team .social li{
    display: inline-block;
}
.team .social li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.team .social li a:hover{
    color: #1785eb;
    background:#f7f5ec;
}
.phone{
    width:100%;
}