@font-face {
    font-family: 'nokora';
    src: local('nokora-regular'), url(../../fonts/Nokora-Regular.ttf);
  }
  @font-face {
    font-family: 'nokora-bold';
    src: local('nokora-Bold'), url(../../fonts/Nokora-Bold.ttf);
  }
@font-face {
  font-family: 'poppins';
  src: local('Poppins-Regular'), url(../../fonts/Poppins-Regular.ttf);
}
.myfont{
  font-family:'nokora','poppins';
}

.slickprev{
  position: absolute;
  top: 50%;
  z-index: 1;
  color: blue;
}
.shadow{
  box-shadow: 0 2.5px 2.5px #11111114 !important;
}
.nav-link:hover{
  color:#e30000 !important;
}
/* .w-10{
  width: 10%!important;
}
.w-20{
  width: 20%!important;
}
.w-5{
  width: 100px!important;
}
.w-15{
  width: 15%;
}
.w-30{
  width: 30%!important;
}
.w-15{
  width: 15%!important;
} */
.content-wrapper{
  padding: 15px;
}
.page-item a{
  color:black !important;
}
.page-item a:hover{
  color:red !important;
  background-color: white;
  border:0.5px solid #e30000 !important;
}
.page-item.active span{
  color:white !important;
  background-color: #e30000 !important;
  border:0.5px solid #e30000 !important;
}
button.btn-view:hover{
  background-color: #007bff !important;
  color:"white" !important;
}
li.btn{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 2px;
}


/* edit-delete-view */

li.btn-edit{
  color:#28a745;
}
li.btn-delete{
  color:#e30000;
}
li.btn-view{
  color:#007bff;
}
li.btn-view:hover{
  background-color: #007bff !important;
  color:white;
}
li.btn-edit:hover{
  color:white;
  background-color:#28a745 !important;
}
li.btn-delete:hover{
  color:white;
  background-color:#e30000 !important;
}





a.nav-item.nav-link{
  color:black !important;
  border: "none" !important;
  font-weight: bold;

}

nav.nav-tabs{
  background-color: #f4f6f9 !important;
  margin-left: 10px;
}
a.nav-item.nav-link.active{
  background-color: #f4f6f9 !important;
  border: "0px 0px 4px 0px";
  border-bottom: 4px solid red;
  color:red !important;
}

.input-custom{
  background-color: #f4f6f9;
}
.slickprev{
  position: absolute;
  top: 50%;
  z-index: 1;
  color: blue;

}
.nav-tabs{
  width: 100%;
  color: aqua;
}
 .blog__item__widget li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  color: #a8a8a8;
  margin-right: 50px;
  font-family: 'poppins-regular';
}
.blog__item__widget  li{
  margin-left: -25px;
}
.page-item a{
  color:black !important;
}
.page-item a:hover{
  color:red !important;
  background-color: white;
  border:0.5px solid #e30000 !important;
}
.page-item.active span{
  color:white !important;
  background-color: #e30000 !important;
  border:0.5px solid #e30000 !important;
}

a.nav-item.nav-link{
  color:black !important;
  border: "none" !important;

}
nav.nav-tabs{
  background-color: #f4f6f9 !important;
  
}
a.nav-item.nav-link.active{
  background-color: #f4f6f9 !important;
  border: "0px 0px 4px 0px";
  border-bottom: 4px solid red;
  color:red !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-top: white !important;
  border-left: white !important;
  border-right: white !important;
}
.btnChoose:hover{
  background-color: #E30000;

}
.fixMenu{
  text-indent: -0;
  z-index: 1;
}
.Menubar{
  list-style: none;
  display: flex;
  align-items: center;
  
}
.red-hv:hover{
  color:#e30000
}
.PhoneInputInput{
  height: 38px;
  border: 1px solid #ced4da;
}

.text-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.PhoneInputInput:focus-visible{
  outline: #ced4da;

}

 /* style contact */

.body-contact{
  min-height: 100vh;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-contact{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container-contact .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-contact .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.container-contact .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.container-contact .left-side .details{
  margin: 14px;
  text-align: center;
}
.container-contact .left-side .details i{
  font-size: 30px;
  color: #e30000;
  margin-bottom: 10px;
}
.container-contact .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.container-contact .left-side .details .text-one,
.container-contact .left-side .details .text-two{
  font-size: 14px;
  font-weight: bold;
  /* color: #afafb6; */
}
.container-contact .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #e30000;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 50px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #E30000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #E30000;
}

@media (max-width: 950px) {
  .container-contact{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container-contact .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container-contact{
    margin: 40px 0;
    height: 100%;
  }
  .container-contact .content{
    flex-direction: column-reverse;
  }
 .container-contact .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container-contact .content .left-side::before{
   display: none;
 }
 .container-contact .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
.loading{
  color:blue;
}

.text:hover{
  color: #E30000;
}







