@font-face {
    font-family: 'nokora';
    src: local('nokora-regular'), url(/src/Style/fonts/Nokora-Regular.ttf);
  }

@font-face {
    font-family: 'nokora-bold';
    src: local('nokora-bold'), url(/src/Style/fonts/Nokora-Bold.ttf);
}

@font-face {
    font-family: 'poppins';
    src: local('poppins'), url(/src/Style/fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: 'poppins-regular';
  src: local('poppins-regular'), url(/src/Style/fonts/Poppins-Regular.ttf);
}

.slickprev{
  position: absolute;
  top: 50%;
  z-index: 1;
  color: blue;
}
